body {
  background: #EAEFF5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* MAIN CARD */
.login-container {
  width: 380px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

/* HEADER */
.login-header {
  text-align: center;
  margin-bottom: 20px;
}

.login-header h1 {
  font-size: 22px;
  color: #1f3c88;
}

.subtitle {
  font-size: 12px;
  color: #666;
  margin-top: 5px;
}

/* FORM */
.login-form label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
  color: #1a3e6d;
}

.login-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cbd6e2;
  border-radius: 6px;
  margin-bottom: 10px;
  outline: none;
}

.login-form input:focus {
  border-color: #1f3c88;
  box-shadow: 0 0 5px rgba(31, 60, 136, 0.2);
}

/* BUTTON */
.login-form button {
  width: 100%;
  padding: 12px;
  background: #1f3c88;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 600;
}

.login-form button:hover {
  background: #155ab6;
}

/* PASSWORD */
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  padding-right: 40px;
}

.eye-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #555;
}

/* MESSAGE BOX */
#messageBox {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  display: none;
}
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px;
}

.eye-icon {
  position: absolute;
  right: 10px;width: 20px;
  cursor: pointer;
  color: #555;
  display: flex;
  align-items: center;
}

.eye-icon:hover {
  color: #1f3c88;
}
